<!doctype html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Registrasi Account</title>
</head>

    <body>
    <center>
        <div class="w-screen h-screen flex justify-center items-center
        bg-gradient-to-br from-indigo-800 via purple-500 to-rose-400">
             
            <form method="POST" class="p-10 bg-white rounded-xl drop-shadow-lg space-y-5" action="" >
                <h1 class="text-center text-3xl font-bold">Register</h1> 
                {% csrf_token %}  
                <table>  
                    {{ form.as_table }}
                    <tr>  
                        <td></td>
                        <td><button class="w-full px-5 py-2 bg-blue-600 text-white rounded-md
                            hover:bg-blue-500 hover:drop-shadow-md duration-300 ease-in" type="submit" value="Register">
                                Register
                            </button></td>  
                    </tr>  
                </table>  
            {% if messages %}  
            <ul>   
                {% for message in messages %}  
                    <li>{{ message }}</li>  
                    {% endfor %}  
            </ul>   
            {% endif %}

            </form>

            
        </div>
    </center>  
    </body>
</html>